:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #afafaf;
  text-decoration: inherit;
  transition-duration: 300ms;
  transition-timing-function: linear;
  opacity: 0;
  animation: ani 1.5s forwards;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a:hover,
a:focus {
  transform: scale(1.05);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(156, 156, 156);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../assets/img/jag-cz-movie-theater-retro-shutterstock-594132752___25101252073.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: ani 1.5s forwards;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
ul,
li {
  list-style: none;
}
h1 {
  font-size: 32px;
  line-height: 1.1;
}
h1,
h2,
h3,
p {
  margin: 0;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: rgb(179, 179, 179);
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  /* a:hover,
  a:focus {
    color: rgb(179, 179, 179);
  }
  button {
    background-color: #f9f9f9;
  } */
}
